<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <form action="/auth/forget-password" method="post">

      <% if (errors.length> 0) { %>
        <div class="alert alert-danger">
          <ul>
            <% errors.forEach((error)=> { %>
              <li>
                <%= error %>
              </li>
              <% }); %>
          </ul>
        </div>
        <% } %>

          <div class="card">
            <div class="card-header">فرم ورود</div>
            <div class="card-body">
              <div class="form-group">
                <label for="email">ایمیل</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email">
              </div>
              <%- recaptcha %>
              <div class="d-flex">
                <button  type="submit" class="btn btn-sm btn-primary w-50 m-3">فراموشی رمز</button>
                <a href="/auth/google" class="btn btn-sm btn-danger w-50 m-3">ورود با گوگل</a>
              </div>
            </div>
          </div>
    </form>
  </div>
  <div class="col-md-4"></div>
</div>