<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">داشبورد</h2>
            <div>
                <span>دوره ها</span>
                <a href="/admin/course" class="btn btn-sm btn-outline-primary">ورود به بخش دوره ها</a>
            </div>
        </div>
    </div>
</div>