<h1>یک دوره مشخص</h1>
<ul>
    <li>
      <h2><%= course.title %></h2>
      <p><%= course.body %></p>
      <p><%= course.author %></p>
      <p><%= course.price %></p>
    </li>
</ul>
<a href="/admin/courses/create">دوره جدید</a>