.mess {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    background-color: #ddd;
}

.mess::after {
    content: "";
    clear: both;
    display: table;
}

.mess img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.mess img.right {
    float: right;
    margin-left: 20px;
    margin-right: 10px;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #000;
    padding : 0px;
    display: flex;
}

.img-card {
    height: 32px;
    width: 32px;
    background-size: cover;
    left : 3% ;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
}