<div class="container bg-light text-left mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div><%- message %></div>
            <div class="error-section">
                <img src="https://www.hostinger.ph/tutorials/wp-content/uploads/sites/2/2018/06/Error-404-on-Opera.png" alt="" style="width: 800px;height: 450px">
            </div>
        </div>
    </div>
</div>