<div class="container bg-light text-left mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="error-section">
                <img src="https://undsgn.com/wp-content/uploads/2018/02/dribbbler_error_500_white.jpg" alt="" style="width: 800px;height: 450px">
            </div>
        </div>
    </div>
</div>