<div class="container bg-light text-left mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="error-section">
                <img src="../assets/images/error-img.png" alt="" class="img-fluid">
                <div class="error-section-content">
                        <h1 class="display-5 text-center"><%= statusCode %></h1>
                    <h1 class="display-5 text-center"><%= message %></h1>
                    <p><%= stack %></p>
                    <a href="/" class="btn btn-secondary btn-lg">صفحه اصلی</a>
                </div>
            </div>
        </div>
    </div>
</div>