<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="padding-right: 0px;padding-left: 0px;">
    <div class="card">
        <h5 class="card-header">ایجاد دسترسی جدید</h5>
        <div class="card-body">

            <%- include(viewPath('layouts/error-messages') , { errors }) %>

            <form action="/admin/permission" method="POST" novalidate>
                <div class="form-group row">
                    <div class="col">
                        <label for="name" class="control-label font-weight-bold">دسترسی</label>
                        <input type="text" class="form-control" name="name" id="name"
                            placeholder="عنوان دسترسی را وارد کنید">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col">
                        <label for="label" class="control-label font-weight-bold">توضیحات</label>
                        <input type="text" class="form-control" name="label" id="label"
                            placeholder="توضیحات دسترسی را وارد کنید">
                    </div>
                </div>

                <div class="form-group row text-right">
                    <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
                        <button type="submit" class="btn btn-space btn-primary">ارسال</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>